# Terraform directories and state files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfstate*

# Node.js files
node_modules/

# Crash logs
crash.log

# OS files
.DS_Store
Thumbs.db

